<manifest package="com.example.authappkotlin" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:label="AuthAppKotlin"
        android:theme="@style/Theme.AuthAppKotlin">
        <activity android:name=".HomeActivity" />
        <activity android:name=".PhoneAuthActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
